@model IEnumerable<RoxCorp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePhone)
            </td>
            <td class="btn-group btn-group-sm">
                <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
