@model RoxCorp.Models.ApplyForLeave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplyForLeave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leave.LeaveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyFromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplyFromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplyToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplyNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyRegisteredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplyRegisteredDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplyForLeaveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
