@model IEnumerable<RoxCorp.Models.ApplyForLeave>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="MonthlySummary" class="btn btn-primary">View Monthly Summary</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyFromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyRegisteredDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Leave.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyFromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyRegisteredDate)
            </td>
                <td class="btn-group btn-group-sm">
                    <a asp-action="Edit" asp-route-id="@item.ApplyForLeaveId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ApplyForLeaveId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ApplyForLeaveId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
