@model RoxCorp.Models.GrantLeave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GrantLeave</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyForLeave.Leave.LeaveType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplyForLeave.Leave.LeaveType)
            
        </dd>
        <dt class="col-sm-2">
            Registered date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplyForLeave.ApplyRegisteredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyForLeave.Employee.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplyForLeave.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            Applied for dates
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplyForLeave.ApplyFromDate)
            -
            @Html.DisplayFor(model => model.ApplyForLeave.ApplyToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Granted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Granted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecisionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecisionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GrantLeaveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
