@model IEnumerable<RoxCorp.Models.GrantLeave>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Applications
            </th>
            <th>
                Granted
            </th>
            <th>
                Date for granted decision
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ApplyForLeave.Leave.LeaveType)
                    -
                    @Html.DisplayFor(modelItem => item.ApplyForLeave.Employee.EmployeeName)
                    (
                    @Html.DisplayFor(modelItem => item.ApplyForLeave.ApplyFromDate)
                    -
                    @Html.DisplayFor(modelItem => item.ApplyForLeave.ApplyToDate)
                    )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Granted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecisionDate)
            </td>
                <td class="btn-group btn-group-sm">
                <a asp-action="Edit" asp-route-id="@item.GrantLeaveId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.GrantLeaveId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.GrantLeaveId" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
